<div class="mainQuestionContainer">
  <div class="companyQuestions mainQuestion" routerLink='/company-questions'>

    <h1 id="companyQuestionsTitle" class="mainQuestionSelectionTitle" >Company Questions</h1>
    <p class="mainQuestionSelectionText" >Help your company to do a better job by answering some of theire pressing question</p>
  
  </div>
    
    <div class="openCritique mainQuestion" routerLink='/open-feedback'>
    
    <h1 id="openCritiqueTitle" class="mainQuestionSelectionTitle">Open CritiqueTitle</h1>
    <p class="mainQuestionSelectionText" >Are you not happy about some of our company policies? This is the place to let us know annonimus</p>
  
  </div>
    
    <div class="openCompliment mainQuestion" routerLink='/open-feedback'>
    
      <h1 id="openComplimentTitle" class="mainQuestionSelectionTitle">Open Compliment</h1>
      <p class="mainQuestionSelectionText">It's the good stuuf that makes a company great, so please also share everything that you liked</p>
      
    </div>

</div>
