<style>
  .btn{
    width: 100%;
    margin: 1.5% 0 0 0;
  }
</style> 

<div *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<ng-template #guest>
    <div class="container">
        <h3 class="center-align">Howdy, GUEST</h3>
        <h5 class="center-align">Login to get started...</h5>
        
        <input type="text" #email placeholder="Email">
        <input type="text" #password placeholder="Password">

        <button (click)="login(email, password)">Login</button>
          
      </div>
  

</ng-template>

<ng-template #authenticated>
    <div *ngIf="auth.user | async as user">
        <div class="container">
            
            <h3 class="center-align">Logedin successfull</h3> 

            <button (click)="auth.signOut()">Signout</button>

          </div>
    </div>
</ng-template>


