.feedbackContainer{
    margin-left: 15%;
    /* padding: 0 25px; */
    margin-top: 25px;
}

.feedbackFilterBox{
    margin-bottom: 25px;
}

.feedbackTitle{
    cursor: pointer;
    max-width: 70%;
}

.feedbackBody{
    width: 98%;
    margin-top: 10px;
    padding: 10px 0 8px 0;
    border-top: 1px solid rgb(29, 41, 55);
    border-bottom: 1px solid rgb(29, 41, 55);
    font-family: inherit;
    font-size: 1.1rem;
    display: none;
    opacity: 0;
}

.feedbackCategory{
    font-size: 0.7rem;
    color: rgb(29, 41, 55);
}

.filterLabel{
    /* margin-right: 15px; */
    padding: 10px 0 8.5px 0px;
    height: 40px;
    margin-left: 8%;
    font-size: 1.1rem;
    font-weight: bold;
    border-bottom: 1px solid rgb(29, 41, 55);
    /* border-right: none; */
}

.feedbackFilter{
    cursor: pointer;
    height: 38.5px;
    font-size: 0.9rem;
    border: none;
    /* border-right: 1px solid rgb(29, 41, 55); */
    padding-top: 3px;
    border-left: none;
    background: none;
    padding-left: 5px;

}

.textFilterLabel{
    padding: 10px 0 8.5px 0px;
    height: 40px;
    margin-left: 5%;
    font-size: 1.1rem;
    font-weight: bold;
    border-bottom: 1px solid rgb(29, 41, 55);
    /* border-right: none; */
}

.searchFeedbackByContent{
    height: 33.5px;
    font-size: 0.9rem;
    border: none;
    /* border-right: 1px solid rgb(29, 41, 55); */
    padding-top: 5px;
    border-left: none;
    background: none;
    padding-left: 5px;

}

.addFeedbackBtn{
    cursor: pointer;
    padding: 0px 0 0px 0 ;
    margin-left: 7.5%;
    font-size: 1.4rem;
    font-weight: bold;
    width: 20%;
    height: 40px;
    border: 1px solid rgb(126, 211, 32);
    border-radius: 20px;
    background: rgb(126, 211, 32);
    color: white;
}

.addFeedbackBtn:hover{
    background: white;
    transform: scale(1.02);
    color: rgb(126, 211, 32);

}

.feedback{
    width: 90%;
    padding: 5px 0 5px 10px;
    border-top: 0.5px solid rgb(174, 194, 201);
    border-left: 0.5px solid rgb(174, 194, 201);
    border-right: 0.5px solid rgb(174, 194, 201);
    /* background: rgba(51, 183, 227, 0.514); */
    margin: 0px 5%;
    background: white;
    position: relative;
    
}

.feedback:last-child{
    border-bottom: 0.5px solid rgb(174, 194, 201);
}

.feedbackTitle{
    position: relative;
    display: inline-block;
    font-size: 1.7rem;
    font-weight: bold;
}

.readMoreBtnFeedback{
    position: absolute;
    display: inline-block;
    cursor: pointer;
    padding: 0px 0 0px 0 ;
    margin-left: 1%;
    font-size: 0.9rem;
    font-weight: bold;
    width: 100px;
    height: 1.5rem;
    border: 1px solid rgb(51, 184, 227);
    border-radius: 20px;
    background: rgb(51, 184, 227);
    color: white;
    right: 120px;
    top: 15px;

}

.commentBtnFeedback{
    position: absolute;
    display: inline-block;
    cursor: pointer;
    padding: 0px 0 0px 0 ;
    margin-left: 1%;
    font-size: 0.9rem;
    font-weight: bold;
    width: 100px;
    height: 1.5rem;
    border: 1px solid rgb(29, 41, 55);
    border-radius: 20px;
    background: rgb(29, 41, 55);
    color: white;
    right: 15px;
    top: 15px;

}

.scaleBtn05:hover{
    transform: scale(1.05);
}

.feedbackComment{
    background: rgb(227, 234, 241);
    width: 70%;
    padding: 15px;
    margin: 10px;
    font-size: 0.9rem;
    border-radius: 15px;
}

.feedbackComment:nth-child(odd){
    margin-left: 20%;
}

.commentBoxTitle{
    font-size: 1.1rem;
    font-weight: bold;
}

.feedbackCommentBox{
    width: 85%;
    margin: 25px 10px;
    position: relative;
    display: inline-block;
}