<div class="feedbackContainer">
  <div class="feedbackFilterBox">
    <label class="textFilterLabel" for="textFilter">Search feedback:
      <input class="searchFeedbackByContent" name="textFilter" id="searchFeedback" type="text" placeholder="search feedback by text">
    </label>

    <label for="filter" class="filterLabel">Filter feedback by:
      <select name="filter" id="selectFeedbackFilter" class="feedbackFilter">
        <option value="date">Date</option>
        <option value="views">Views</option>
        <option value="up">up votes</option>
        <option value="down">Down votes</option>
        <option value="comments">Comments</option>
      </select>
    </label>

    <button class="addFeedbackBtn" id="addFeedbackBtn" routerLink="/add-feedback">ADD FEEDBACK</button>
    

  </div>

  <div class="feedback" *ngFor="let feedback of feedBacks">
      <p class="feedbackCategory">Category: {{feedback.category}}</p>
      <h1 class="feedbackTitle" (click)="showFeedbackBody(feedback, $event)">{{feedback.title}}</h1>
      <button class="readMoreBtnFeedback scaleBtn05" (click)="showFeedbackBody(feedback, $event)">Read More</button>
      <button class="commentBtnFeedback scaleBtn05">Comment</button>
      <div class="feedbackBody">
          <p>{{feedback.feedback}}</p>

          <div class="feedbackCommentBox">
            <h3 class="commentBoxTitle">Comments:</h3>
            <div class="feedbackComment">
                <p>I agree with this and wanted to test the comment</p>
            </div>
            <div class="feedbackComment">
                <p>The styling of the commetsn is good enough for me at this stage, so now lets get going with adding post and submiting them to the database</p>
            </div>
            <div class="feedbackComment">
                <p>This is to test for more comments, since I want to display one left and the other one on the right</p>
            </div>
          </div>
      </div>
      
  </div>

</div>