<div class="adminHomeContainer" id="adminHomeContainer">
  <div class="newestFeedbackContainer" routerLink='/company-questions'>

    <h1 id="companyQuestionsTitle" class="adminHomeSectionSelectionTitle" >Your newest feedback</h1>
    <p class="adminHomeSectionSelectionText" >Here come some feedback blocks</p>
  
  </div>
    
  <div class="adminHomeSectionSelection" routerLink='/open-feedback'>

    <div class="circle"></div>
    
    <h1 id="openCritiqueTitle" class="adminHomeSectionSelectionTitle">Company questions</h1>
    <p class="adminHomeSectionSelectionText" >Dont just wait for your employees to submit new feedback, also pro-activly ask their opinion</p>
  
  </div>
    
  <div class="adminHomeSectionSelection" routerLink='/feedback-adminPanel'>

    <div class="circle"></div>
    
    <h1 id="" class="adminHomeSectionSelectionTitle">Feedback</h1>
    <p class="adminHomeSectionSelectionText">It's the good stuuf that makes a company great, so please also share everything that you liked</p>
      
  </div>

  <div class="adminHomeSectionSelection" routerLink='/open-feedback'>

    <div class="circle"></div>
    
    <h1 id="" class="adminHomeSectionSelectionTitle">Compliments</h1>
    <p class="adminHomeSectionSelectionText">See all the details hbhuiib hubkbl hkglkgk  gyggygyig you need about the feedback you get and make better and more informed decisions</p>
      
  </div>

</div>
