<div class="container" id="container">

  <div class="feedbackContainer">
      <h3 class="recentFeedbackTitle title">Most Recent Feedback:</h3>
      <div class="itemHolder">
          <div class="feedback" *ngFor="let feedback of feedBacks">
              <p class="feedbackCategory">Category: {{feedback.category}}</p>
              <h1 class="feedbackTitle ">{{feedback.title}}</h1>
              <div class="feedbackBody">
                  <p>{{feedback.feedback}}</p>>
                  
              </div>
              
          </div>

      </div>
       
      <button class="allBtn">SHOW ALL</button>

  </div>

  

  <!-- Below comes the Compliements -->

  <div class="complimentContainer">
      <h3 class="recentcomplimentTitle title">Most Recent Compliment:</h3>
      <div class="itemHolder">
          <div class="compliment" *ngFor="let compliment of compliments">
              <p class="complimentCategory">Category: {{compliment.category}}</p>
              <h1 class="complimentTitle " >{{compliment.title}}</h1>
              <div class="complimentBody">
                  <p>{{compliment.compliment}}</p>
              </div>
          </div> 

      </div>
      
      <button class="allBtn">SHOW ALL</button>

  </div>
  



<!-- Below goes the HTML for the most recent questions -->

<div class="questionContainer">
    <h3 class="recentquestionTitle title">Most Recent Questions:</h3>
    <div class="itemHolder">
        <div class="question" *ngFor="let question of questions">
            <p class="questionCategory">Category: {{question.category}}</p>
            <h1 class="questionTitle " >{{question.title}}</h1>
            <div class="questionBody">
                <p>{{question.compliment}}</p>
            </div>        
        </div> 

    </div>
    
    <button class="allBtn">SHOW ALL</button>

</div>




